@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #130e01;
    --background: #fffaeb;
    --primary: #ff8400;
    --secondary: #fff5d6;
    --accent: #cf4307;
    --sand-1: #fdfdfc;
    --sand-2: #f9f9f8;
    --sand-3: #f1f0ef;
    --sand-4: #e9e8e6;
    --sand-5: #e2e1de;
    --sand-6: #dad9d6;
    --sand-7: #cfceca;
    --sand-8: #bcbbb5;
    --sand-9: #8d8d86;
    --sand-10: #82827c;
    --sand-11: #63635e;
    --sand-12: #21201c;
  }
  .dark {
    --text: #fef9ec;
    --background: #140f00;
    --primary: #ff8400;
    --secondary: #291f00;
    --accent: #f86c30;
    --sand-1: #111110;
    --sand-2: #191918;
    --sand-3: #222221;
    --sand-4: #2a2a28;
    --sand-5: #31312e;
    --sand-6: #3b3a37;
    --sand-7: #494844;
    --sand-8: #62605b;
    --sand-9: #6f6d66;
    --sand-10: #7c7b74;
    --sand-11: #b5b3ad;
    --sand-12: #eeeeec;
  }
}
